.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-sidenav{
    
  background-color: #3f51b5;
}
.mat-list-icon{
  color: white;
}
h3{
  color: white;
  padding-top: 17px;
  margin-left: 20px;
}
.spacer{
  flex : 1 1 auto;
}
.mat-icon-button{
  color:#3f51b5
}
.sidenav2{
  width: 600px;
  margin-top: 65px;
  margin-left: 200px;
  

}
.main2{
  background-color: white;
}
mat-grid-tile {
  background-color: #3f51b5;
}
.title{
  text-align: center;
  

}