<div class="container">
    <div class="row">
      <div class="col-sm">
        

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Setting</th>  
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>All Srore</td>  
            </tr>
            <tr>
              <td>Configuration</td>  
            </tr>
          </tbody>
        </table>


      </div>

      <div class="col-sm">
        

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Attribute</th>  
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Product</td>  
            </tr>
            <tr>
              <td>Attribute set</td>  
            </tr>
          </tbody>
        </table>

      </div> 

    </div>
    <div class ="row">
      <div class="col-sm">
        
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Inventory</th>  
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <a >Source</a></td>  
            </tr>
            <tr>
              <td>Stock</td>  
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>